{% extends 'base.html' %}
{% block content %}
{% if model %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Field1</th>
        <th scope="col">Field2</th>
        <th scope="col">Field3</th>
        <th scope="col">Field4</th>
        <th scope="col">Field5</th>
        <th scope="col">Field6</th>
        <th scope="col">Field7</th>
        <th scope="col">Field8</th>
        <th scope="col">Field9</th>
        <th scope="col">Field10</th>
      </tr>
    </thead>
    <tbody>
        {% for dt in model %}
        <tr>
            <td>{{dt.name}}</td>
            <td>{{dt.email_field}}</td>
            <td>{{dt.address}}</td>
            <td>{{dt.father_name}}</td>
            <td><a href="{% url 'delete_student' dt.roll%}" class="btn btn-danger text-white">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h1>Sorry Data Not Found</h1>
{% endif %}
{% endblock content %}